<header></header>
<div class="container">
    <div class="row">
        <div class="col-md-12" id="img-position">
            <div class="card">
                <div class="card-body" style="background-color: #2978A0;">
                    <img src="../../../../assets/icons/404 Error with a cute animal-bro.svg" alt="Error_404">
                </div>

                <div class="card-body">
                    <h3 class="card-title">¡Ups! Parece que la página que estás buscando no existe.</h3>
                    <a href="/" class="boton-1"> <i class="fa-solid fa-house ion-icon"></i> Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>