@import '../../../../styles';

header{
    height: 10%;
}

.img-404{
    width: 100%;
    height: auto;
}

#img-position{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}