<header id="index" class="bg-image">
    <div class="col-md-12 sombreado d-flex justify-content-center" style="padding-top:10px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 p-5 text-center">
                <img src="../../../assets/img/Imagen-perfil.jpg" id="foto-perfil"
                    class="img-fluid animate__animated animate__zoomIn" alt="Foto-perfil">
                <br>
                <br>
                <h1 id="nombre_titulo" class="animate__animated animate__flash animate__repeat-2">Alan Tamez</h1>
                <h5 id="puesto_titulo" class="animate__animated animate__flash animate__repeat-2">Desarrollador front-end</h5>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark header" id="navbar-color">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" id="logo-img" src="../../../assets/img/lenguaje-de-programacion.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Alane-TC</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre mí</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Conocimientos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Proyectos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contactos</a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>  -->
            </div>
        </div>
    </div>
</nav>