@import '../../../../styles';
.icons{
    font-size: 125px;
    margin-left: 1rem;
}

#html{
    color: #E44D25;
}

#css{
    color: #379AD6;
}

#js{
    color: #FEBE1F;
}

#boostrap{
    color: #8D13FD;
}

#git{
    color: #F3501D;
}

#sass{
    color: #CD6799;
}

