<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1 class="titulos_principales"><b>Skills</b></h1>
        </div>

        <div class="row align-items-center mt-4">
            <div class="col text-center">
                <i id="html" class="fa-brands fa-html5 icons"></i>
                <i id="css" class="fa-brands fa-css3-alt icons"></i>
                <i id="js" class="fa-brands fa-js icons"></i>
                <i id="sass" class="fa-brands fa-sass icons"></i>
                <i id="boostrap" class="fa-brands fa-bootstrap icons"></i>
                <i id="git" class="fa-brands fa-git-alt icons"></i>
            </div>

        </div>
    </div>
</div>