<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted color-footer wow animate__animated animate__fadeIn">
    <!-- Section: Links  -->
    <section class="p-4">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-6 mx-auto mb-4 estilos-footer">
                    <!-- Content -->
                    <h3 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-user-tie"></i> Contacto
                    </h3>

                    <div id="div-icon">
                        <a href="mailto:alantamez28@hotmail.com" class="me-4 text-reset">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/alan-tamez/" target="_blank" class="me-4 text-reset">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/Alane-Tc" target="_blank" class="me-4 text-reset">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://gitlab.com/Alane_tc" target="_blank" class="me-4 text-reset">
                            <i class="fa-brands fa-gitlab"></i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 estilos-footer">
                    <!-- Links -->
                    <h3 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-folder-minus"></i> Menu
                    </h3>

                    <p>
                        <a href="#!" class="text-reset">Inicio</a>
                    </p>
                    <p>
                        <a href="#about-me" class="text-reset">Sobre mí</a>
                    </p>
                    <p>
                        <a href="#skills" class="text-reset">Conocimientos</a>
                    </p>
                    <p>
                        <a href="/proyectos" class="text-reset">Proyectos</a>
                    </p>
                    <p>
                        <a href="/contacto" class="text-reset">Contacto</a>
                    </p>
                </div>

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 estilos-footer">
                    <!-- Links -->
                    <h3 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-circle-info"></i> Contactame
                    </h3>
                    <p><i class="fas fa-home me-3"></i> Monterrey NL. México</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        alantamez28@hotmail.com
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgb(243 243 243 / 5%);">
        © <span class="año" #año></span> Copyright:
        <a class="text-reset fw-bold" href="#">Alane-Tc</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->