<header>
    <app-header></app-header>
</header>

<button id="btn-go-up" class="boton-1" onclick="topFunction()"><i class="fa-solid fa-angle-up"></i></button>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center titulos_principales">Certificados de udemy</h1>
        </div>
        <app-loading *ngIf="isloading"></app-loading>

        <div class="container">
            <div *ngIf="!isloading" class="row">
                <!-- <div class="col-md-6" *ngFor="let inf of data1">
                    <app-card [titulo]="inf.nameCertificate" [subtitulo]="inf.endDate" [urlImage]="inf.urlImage"
                        [url]="inf.urlCetificate" [titulo_del_boton]="'Ver Certificado'"></app-card>
                </div> -->

                <div class="col-md-6">
                    <app-card [titulo]="'Lógica Programación: Aprende Programar en Cualquier Lenguaje'"
                        [subtitulo]="' Enero 2019'" [urlImage]="'https://s.udemycdn.com/meta/default-meta-image-v2.png'"
                        [url]="'https://www.udemy.com/certificate/UC-N6TILR97/'"
                        [titulo_del_boton]="'Ver Certificado'"></app-card>
                </div>

                <div class="col-md-6">
                    <app-card [titulo]="'Aprende HTML5 y CSS3 desde cero'" [subtitulo]="'Febrero 2019'"
                        [urlImage]="'https://s.udemycdn.com/meta/default-meta-image-v2.png'"
                        [url]="'https://www.udemy.com/certificate/UC-7deb4580-acbf-4d0a-beee-0e0d8a969a67/'"
                        [titulo_del_boton]="'Ver Certificado'"></app-card>
                </div>

                <div class="col-md-6">
                    <app-card [titulo]="'Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap'"
                        [subtitulo]="'Septiembre 2021'"
                        [urlImage]="'https://s.udemycdn.com/meta/default-meta-image-v2.png'"
                        [url]="'https://www.udemy.com/certificate/UC-218ad944-c10d-4b9b-ab43-d8283689134b/'"
                        [titulo_del_boton]="'Ver Certificado'"></app-card>
                </div>

                <div class="col-md-6">
                    <app-card [titulo]="'JavaScript Moderno: Guía para dominar el lenguaje'" [subtitulo]="'Enero 2022'"
                        [urlImage]="'https://s.udemycdn.com/meta/default-meta-image-v2.png'"
                        [url]="'https://www.udemy.com/certificate/UC-d28ac077-ab7b-4adb-a1a6-54a4ff4f2dda/'"
                        [titulo_del_boton]="'Ver Certificado'"></app-card>
                </div>

                <!-- <div class="col-md-6">
                    <app-card [titulo]="'C# desde Cero'" [subtitulo]="'Año: 2023'"
                        [urlImage]="'https://edteam-media.s3.amazonaws.com/blogs/original/75323425-9ed9-4484-b072-18005273c806.jpg'"
                        [url]="'https://ed.team/premium?cupon=REF-184946'"
                        [titulo_del_boton]="'Ver Certificado'"></app-card>
                </div>  -->

            </div>
        </div>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>