<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1 class="titulo"><b>Sobre mí</b></h1>
        </div>

        <div class="col-md-6 text-rigth">
            <article class="_article">
                <h3>Desarrollarme y colaborar dentro de una empresa, aportando mis conocimientos y habilidades
                    adquiridas en
                    mi formación profesional, enfrentando de manera eficiente y positiva los retos que se me
                    establezcan.
                </h3> <br>

                <button class="btn bnt-rojo text-center">Descargar CV</button>
            </article>
        </div>

        <div class="col-md-6 text-center">
            <img class="img-fluid" src="../../../../assets/icons/Website development.svg" alt="Foto">
        </div>
    </div>
</div>