<div class="container wow animate__animated animate__fadeIn">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1 class="titulo"><b>Sobre mí</b></h1>
        </div>

        <div class="col-md-6 text-rigth">
            <article class="_article">
                <h2>Hola mundo🌎, soy Alan Tamez</h2> <!--Carrera Ingenieria en sistemas computacion administrativa-->
                <h3>Soy un desarrollador Front-End graduado de la Universidad Tecmilenio, apasionado por avanzar
                    profesionalmente en el sector tecnológico y contribuir activamente dentro de una empresa. Mi
                    compromiso es utilizar los conocimientos y habilidades desarrollados durante mi educación para
                    abordar eficazmente los desafíos que surjan. Creo firmemente que mi formación académica y mi
                    experiencia en el campo me permiten entregar soluciones innovadoras y de calidad en el desarrollo
                    web.
                </h3> <br>

                <!-- <a href="../../../../assets/pdf/CV_ALAN_EDUARDO_TAMEZ_CABELLO_ACT.2023.pdf" target="_blank">
                    <button class="boton-1 text-center"><i class="fa-solid fa-file-arrow-down ion-icon"></i> Ver
                        CV</button>
                </a> -->

                <button class="boton-1 text-center" (click)="openPDF()">
                    <i class="fa-solid fa-file-arrow-down ion-icon"></i> Ver CV
                </button>
                
            </article>
        </div>

        <div class="col-md-6 text-center">
            <img id="img-about-me" class="img-fluid" src="../../../../assets/icons/Website development.svg" alt="Foto">
        </div>
    </div>
</div>