<div class="container wow animate__animated animate__fadeIn">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1 class="titulo"><b>Sobre mí</b></h1>
        </div>

        <div class="col-md-6 text-rigth">
            <article class="_article">
                <h2>Hola mundo🌎, soy Alan Tamez</h2> <!--Carrera Ingenieria en sistemas computacion administrativa-->
                <h3>Soy un desarrollador front-end egresado de la Universidad Tecmilenio, y mi objetivo profesional es
                    continuar mi desarrollo en el campo laboral y colaborar dentro de una empresa. Estoy comprometido a
                    aportar mis conocimientos y habilidades adquiridas durante mi formación profesional, con el fin de
                    enfrentar de manera eficiente y positiva los retos que se me presenten. Considero que mi formación
                    académica y experiencia laboral me permiten ofrecer soluciones de calidad en el campo del desarrollo
                    Web.
                </h3> <br>

                <a href="../../../../assets/pdf/CV_ALAN_EDUARDO_TAMEZ_CABELLO_ACT.2023.pdf" target="_blank"
                    download="CV_ALAN_EDUARDO_TAMEZ_CABELLO_ACT.2023.pdf">
                    <button class="boton-1 text-center"><i class="fa-solid fa-file-arrow-down ion-icon"></i> Descargar
                        CV</button>
                </a>
            </article>
        </div>

        <div class="col-md-6 text-center">
            <img id="img-about-me" class="img-fluid" src="../../../../assets/icons/Website development.svg" alt="Foto">
        </div>
    </div>
</div>