<header>
    <app-header></app-header>
</header>

<button id="btn-go-up" class="boton-1" onclick="topFunction()"><i class="fa-solid fa-angle-up"></i></button>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center titulos_principales">Certificados de EDTeam</h1>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <app-card [titulo]="'C# desde Cero'" [subtitulo]="'Enero 2023'"
                        [urlImage]="'https://edteam-media.s3.amazonaws.com/blogs/original/75323425-9ed9-4484-b072-18005273c806.jpg'"
                        [url]="'https://ed.team/premium?cupon=REF-184946'"
                        [titulo_del_boton]="'Ver Certificado'"></app-card>
                </div>

            </div>
        </div>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>