<header id="index" class="bg-image">
    <div class="col-md-12 sombreado d-flex justify-content-center" style="padding-top:10px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 p-5 text-center">
                <img src="../../../assets/img/Imagen-perfil.jpg" id="foto-perfil"
                    class="wow animate__animated animate__fadeInDown" alt="Foto-perfil">
                <br>
                <br>
                <h1 id="nombre_titulo" class="wow animate__animated animate__fadeInDown">Alan Tamez</h1>
                <h5 id="puesto_titulo" class="wow animate__animated animate__fadeInDown">Desarrollador full stack</h5>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark header" id="navbar-color">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" id="logo-img" src="../../../assets/img/lenguaje-de-programacion.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Alane-TC</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i>
                            Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#about-me"><i class="fa-solid fa-user"></i> Sobre mí</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#skills"><i class="fa-solid fa-brain"></i> Conocimientos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/proyectos"><i class="fa-solid fa-diagram-project"></i> Proyectos</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/certificados"><i class="fa-solid fa-certificate"></i>
                            Certificados</a>
                    </li> -->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-expanded="false"><i class="fa-solid fa-certificate"></i> Certificados</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/certificados/udemy">Udemy</a></li>
                            <li><a class="dropdown-item" href="/certificados/edteam">Edteam</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                        </ul>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/contacto"><i class="fa-solid fa-user-tie"></i> Contacto</a>
                    </li> -->

                </ul>
                <!-- <form class="d-flex">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>  -->
            </div>
        </div>
    </div>
</nav>