<header>
    <app-header></app-header>
</header>

<button id="btn-go-up" class="boton-1" onclick="topFunction()"><i class="fa-solid fa-angle-up"></i></button>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center titulos_principales">Portafolio</h1>
        </div>

        <!--Proyectos personales-->
        <div class="col-md-6">
            <h2><b>Proyectos personales</b></h2>
        </div>

        <div class="col-md-12">
            <div class="portafolio">
                <div class="tarjetas">
                    <div>
                        <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_1.png"
                            alt="Formato_apa">
                    </div>

                    <article>
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat porro aut minima sapiente
                            ducimus praesentium, accusantium quos, ut dolore repudiandae aspernatur natus suscipit
                            velit. Fugiat fugit sunt dolore molestias repellat?</h3>
                    </article>
                </div>

                <div class="tarjetas">
                    <div>
                        <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_4.jpg"
                            alt="Formato_Apa_Escritorio">
                    </div>

                    <article>
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat porro aut minima sapiente
                            ducimus praesentium, accusantium quos, ut dolore repudiandae aspernatur natus suscipit
                            velit. Fugiat fugit sunt dolore molestias repellat?</h3>
                    </article>
                </div>

                <div class="tarjetas">
                    <div>
                        <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_2.png"
                            alt="Cuantos-dias-faltan">
                    </div>

                    <article>
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat porro aut minima sapiente
                            ducimus praesentium, accusantium quos, ut dolore repudiandae aspernatur natus suscipit
                            velit. Fugiat fugit sunt dolore molestias repellat?</h3>
                    </article>
                </div>

                <div class="tarjetas">
                    <div>
                        <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_3.png"
                            alt="Loteria-mexicana">
                    </div>

                    <article>
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat porro aut minima sapiente
                            ducimus praesentium, accusantium quos, ut dolore repudiandae aspernatur natus suscipit
                            velit. Fugiat fugit sunt dolore molestias repellat?</h3>
                    </article>
                </div>

                <div class="tarjetas">
                    <div>
                        <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_5.png"
                            alt="Poke-dex">
                    </div>

                    <article>
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat porro aut minima sapiente
                            ducimus praesentium, accusantium quos, ut dolore repudiandae aspernatur natus suscipit
                            velit. Fugiat fugit sunt dolore molestias repellat?</h3>
                    </article>
                </div>

                <div class="tarjetas">
                    <div>
                        <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_5.png"
                            alt="Poke-dex">
                    </div>

                    <article>
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat porro aut minima sapiente
                            ducimus praesentium, accusantium quos, ut dolore repudiandae aspernatur natus suscipit
                            velit. Fugiat fugit sunt dolore molestias repellat?</h3>
                    </article>
                </div>

            </div>
        </div>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>