<header>
    <app-header></app-header>
</header>

<button id="btn-go-up" class="boton-1" onclick="topFunction()"><i class="fa-solid fa-angle-up"></i></button>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center titulos_principales">Portafolio</h1>
        </div>

        <div class="col-md-4">
            <label for="exampleFormControlInput1" class="form-label">Seleccione un tipo de proyecto</label>
            <select class="form-select" id="filtro_proyectos" onchange="filtroProyectos()">
                <option selected disabled>Seleccione una opción</option>
                <option value="proyectos_personales">Proyectos personales</option>
                <option value="proyectos_freelancer">Proyectos de Freelancer</option>
                <option value="proyectos_diseño">Diseño Grafico</option>
            </select>
        </div>

        <section id="principal" class="mostrar mt-5">
            <div class="col-md-12 text-center">
                <div class="alert alert-primary" role="alert">
                    Seleccione un tipo de proyecto
                </div>
            </div>
            <div class="col-md-12">
                <img class="img-coding" src="../../../../assets/icons/Hand coding-cuate.svg" alt="Computadora">
            </div>
        </section>

        <!--Proyectos personales-->
        <section id="proyectos_personales" class="ocultar">
            <div class="col-md-12">
                <h2 class="text-center mt-3"><b>Proyectos personales</b></h2>
                <div class="portafolio">
                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_1.png"
                                alt="Formato_apa">
                        </div>

                        <article class="text">
                            <h2><b>Formato Apa</b></h2>
                            <p>Una aplicación web de generador de formato apa.</p>
                            <p>Html + Css + Javascript + Bootstrap</p>
                            <a href="https://github.com/Alane-Tc/FormatoApa" target="_blank">
                                <button class="boton_proyecto_secundario">Ver repositorio <i
                                        class="fa-brands fa-github ion-icon"></i></button></a>
                            <a href="https://formatoapa.netlify.app" target="_blank">
                                <button class="boton_proyecto_primario">Ver proyecto <i
                                        class="fa-solid fa-eye"></i></button>
                            </a>
                        </article>
                    </div>

                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_4.jpg"
                                alt="Formato_Apa_Escritorio">
                        </div>

                        <article class="text">
                            <h2><b>Formato Apa Desktop</b></h2>
                            <p>Formato Apa en versión de escritorio desarrollada con electron</p>
                            <p>Html + Css + Javascript + Bootstrap</p>
                            <a href="https://github.com/Alane-Tc/FormatoApaDesktop" target="_blank"
                                rel="noopener noreferrer">
                                <button class="boton_proyecto_secundario">Ver repositorio <i
                                        class="fa-brands fa-github ion-icon"></i></button></a>
                            <a href="https://github.com/Alane-Tc/FormatoApaDesktop/tags" target="_blank"
                                rel="noopener noreferrer">
                                <button class="boton_proyecto_primario">Ver proyecto <i
                                        class="fa-solid fa-eye"></i></button>
                            </a>
                        </article>
                    </div>

                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_2.png"
                                alt="Cuantos-dias-faltan">
                        </div>

                        <article class="text">
                            <article class="text">
                                <h2><b>Cuantos días faltan</b></h2>
                                <p>Aplicación que calcula fácilmente el tiempo transcurrido entre dos fechas diferentes,
                                    y/o
                                    te da los días faltantes de las fechas festivas.</p>
                                <p>Html + Sass + Javascript + Bootstrap</p>
                                <a href="https://github.com/Alane-Tc/cuantos_dias_faltan" target="_blank"
                                    rel="noopener noreferrer">
                                    <button class="boton_proyecto_secundario">Ver repositorio <i
                                            class="fa-brands fa-github ion-icon"></i></button></a>
                                <a href="https://cuantosdiasfaltan.netlify.app" target="_blank"
                                    rel="noopener noreferrer">
                                    <button class="boton_proyecto_primario">Ver proyecto <i
                                            class="fa-solid fa-eye"></i></button></a>
                            </article>
                        </article>
                    </div>

                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_3.png"
                                alt="Loteria-mexicana">
                        </div>

                        <article class="text">
                            <article class="text">
                                <h2><b>Lotería Mexicana</b></h2>
                                <p>Barajeo para el juego de mesa lotería mexicana.</p>
                                <p>Html + Sass + Javascript + Bootstrap</p>
                                <a href="https://github.com/Alane-Tc/Loteria-Mexicana" target="_blank">
                                    <button class="boton_proyecto_secundario">Ver repositorio <i
                                            class="fa-brands fa-github ion-icon"></i></button></a>
                                <a href="https://correysevacorriendo.netlify.app" target="_blank"
                                    rel="noopener noreferrer">
                                    <button class="boton_proyecto_primario">Ver proyecto <i
                                            class="fa-solid fa-eye"></i></button></a>
                            </article>
                        </article>
                    </div>

                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-personales/proyecto_5.png"
                                alt="Poke-dex">
                        </div>

                        <article class="text">
                            <h2><b>PokeDex</b></h2>
                            <p>Sitio web realizada con la API de pokemon, donde busca información de ataque y defensa de
                                un
                                pokemon</p>
                            <p>Html + Sass + Javascript + Bootstrap</p>
                            <a href="https://github.com/Alane-Tc/PokeDex" target="_blank" rel="noopener noreferrer">
                                <button class="boton_proyecto_secundario">Ver repositorio <i
                                        class="fa-brands fa-github ion-icon"></i></button></a>
                            <a href="https://quienesesepokemon.netlify.app" target="_blank" rel="noopener noreferrer">
                                <button class="boton_proyecto_primario">Ver proyecto <i
                                        class="fa-solid fa-eye"></i></button></a>
                        </article>
                    </div>
                    <div class="tarjetas" style="background-color: #f3f3f3;"></div>
                </div>
            </div>
        </section>

        <!--Proyectos freelancer-->
        <section id="proyectos_freelancer" class="ocultar">
            <div class="col-md-12">
                <h2 class="text-center mt-3"><b>Proyectos de Freelancer</b></h2>

                <div class="portafolio">
                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-freelancer/proyecto_2.png"
                                alt="Ag consultores">
                        </div>

                        <article class="text">
                            <h2><b>Ag consultores</b></h2>
                            <p>Colaboración con <a class="link-light" href="https://www.swmarin.com" target="_blank"
                                    rel="noopener noreferrer">servicios web marin</a> de un sitio web para la empresa AG
                                Consultores </p>
                            <p>Sep 2021 - Nov 2021</p>

                            <a href="https://www.swmarin.com/ag-consultores/" target="_blank">
                                <button class="boton_proyecto_primario">Ver proyecto <i
                                        class="fa-solid fa-eye"></i></button>
                            </a>
                        </article>
                    </div>

                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-freelancer/proyecto_1.png"
                                alt="App barber">
                        </div>

                        <article class="text">
                            <h2><b>App barber</b></h2>
                            <p>Colaboración con <a class="link-light" href="https://www.swmarin.com" target="_blank"
                                    rel="noopener noreferrer">servicios web marin</a> en una aplicación web de registros
                                de citas para una
                                barberia</p>
                            <p>Dic 2021 - Feb 2022</p>

                            <a href="https://appbarbers.com" target="_blank">
                                <button class="boton_proyecto_primario">Ver proyecto <i
                                        class="fa-solid fa-eye"></i></button>
                            </a>
                        </article>
                    </div>

                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-freelancer/proyecto_4.png"
                                alt="Lg y Asociados">
                        </div>

                        <article class="text">
                            <h2><b>Alienmart</b></h2>
                            <p>Colaboración con <a class="link-light" href="https://www.swmarin.com" target="_blank"
                                    rel="noopener noreferrer">servicios web marin</a> se mejoro interfaz de ventas y se diseño los banners </p>
                            <p>Feb 2022 - Mar 2022</p>

                            <a href="https://alienmart.com/vender" target="_blank">
                                <button class="boton_proyecto_primario">Ver proyecto <i
                                        class="fa-solid fa-eye"></i></button>
                            </a>
                        </article>
                    </div>

                    <div class="tarjetas">
                        <div>
                            <img class="img_proyecto" src="../../../../assets/img/proyectos-freelancer/proyecto_3.png"
                                alt="Lg y Asociados">
                        </div>

                        <article class="text">
                            <h2><b>LG y Asociados</b></h2>
                            <p>Colaboración con <a class="link-light" href="https://www.swmarin.com" target="_blank"
                                    rel="noopener noreferrer">servicios web marin</a>de un sitio web para la empresa LG y asociados</p>
                            <p>Mar 2022 - Abr 2022</p>

                            <a href="https://lgyasociados.mx" target="_blank">
                                <button class="boton_proyecto_primario">Ver proyecto <i
                                        class="fa-solid fa-eye"></i></button>
                            </a>
                        </article>
                    </div>

                </div>
            </div>
        </section>

        <section id="proyectos_diseños" class="ocultar">
            <div class="col-md-12">
                <h1 class="text-center"><b>Diseños</b></h1>
            </div>

            <div class="col-md-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Mis Plantitas MTY
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                App barber
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-md-4 col-sm-8 centrado">
                                            <img class="img-fluid banners"
                                                src="../../../../assets/img/diseños/250x250_con_fondo.jpg"
                                                alt="Logo de app barber">
                                        </div>

                                        <div class="col-md-4 col-sm-8 centrado">
                                            <img class="img-fluid banners"
                                                src="../../../../assets/img/diseños/Fondo-png.png"
                                                alt="Fondo de app barber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>