/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #F8FBFE; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Botones*/
    .bnt-rojo{
        background: #DA1F50;
        color: white;
    }
    
    .bnt-rojo:hover{
        background: #9b1639;
        color: white;
    }

