<div class="container mt-5 wow animate__animated animate__fadeIn">
    <div class="row">

        <div class="col-md-12 text-center">
            <h1 class="titulos_principales"><b>Experiencia Laboral</b></h1>
        </div>

        <div class="col-md-12 text-center mt-5 mb-5">
            <!--TOI-->
            <img class="img-fluid works" src="../../../../assets/img/Logo_Toi.png" alt="Logo_Toi"
                data-bs-toggle="collapse" data-bs-target="#toi_expertos_hipotecarios" aria-expanded="false"
                aria-controls="toi_expertos_hipotecarios">

            <div class="collapse mt-4" id="toi_expertos_hipotecarios">
                <div class="card card-body">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Toi Expertos Hipotecarios</b> <br> Mayo 2021 - Marzo
                                        2022</h3>
                                    <p class="card-text">Desarrollador front-end de un sistema modular responsivo
                                        (ERP)</p>
                                    <p class="card-text"><small class="text-muted"><a href="https://www.toi.com.mx"
                                                target="_blank" class="text-reset">Toi.com.mx</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--SWM-->
            <img class="img-fluid works" src="../../../../assets/img/S_W_M.png" alt="SWM" data-bs-toggle="collapse"
                data-bs-target="#swm_servicios" aria-expanded="false" aria-controls="swm_servicios">

            <div class="collapse mt-4" id="swm_servicios">
                <div class="card card-body">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Servicios Web Marín</b> <br> 2021 - Actualmente</h3>
                                    <p class="card-text">Desarrollador front-end en colaboración de distintos proyectos
                                        como páginas web, ecommerce y apps. </p>
                                    <p class="card-text"><small class="text-muted"><a href="https://www.swmarin.com"
                                                target="_blank" class="text-reset">Swmarin.com</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>