<div class="container mt-5 wow animate__animated animate__fadeIn">
    <div class="row">

        <div class="col-md-12 text-center">
            <h1 class="titulos_principales"><b>Experiencia Laboral</b></h1>
        </div>

        <div class="col-md-12 text-center mt-5 mb-5 body-div">
            <!--TOI-->
            <div class="container-card">
                <div class="card-projects">
                    <div class="face face1">
                        <div class="content">
                            <img src="../../../../assets/img/Logo_Toi.png">
                            <h3>TOI Expertos Hipotecarios</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3 class="card-title"><b>Toi Expertos Hipotecarios</b> <br> Mayo 2021 - Marzo
                                2022</h3>
                            <p class="card-text">Desarrollador front-end de un sistema modular responsivo
                                (ERP)</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!--SWM-->
                <div class="card-projects">
                    <div class="face face1">
                        <div class="content">
                            <img src="../../../../assets/img/S_W_M.png">
                            <h3>Servicios Web Marín</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3 class="card-title"><b>Servicios Web Marín</b> <br> 2021 - Actualmente</h3>
                            <p class="card-text">Desarrollador front-end en colaboración de distintos proyectos
                                como páginas web, ecommerce y apps. </p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card-projects">
                    <div class="face face1">
                        <div class="content">
                            <img
                                src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                            <h3>Launch</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste
                                veritatis provident at.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>